.header {
    display: flex;
    justify-content: space-between;
    background-color: aqua;

}

.logo {
    width: 80px;
    height: 80px;
    margin: 5px;
}

.nav-items ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 5px;
    font-size: 20px;

}

.res-card {
    width: 270px;

    margin-top: 10px;
    padding: 10px;
   
    text-align: justify;
    text-align: center;
    margin: 5px;
}

.search {
    padding: 5px;
}

.res-card img {
    width: 100%;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-container {
    display: flex;
    flex-wrap: wrap;

}