.todo-list {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: grey;
  }
  
  .todo-list h1 {
    text-align: center;
    color: #000000;
  }
  
  .todo-list input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .todo-list button {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background-color: #43ec6a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .todo-list button:hover {
    background-color: #3a8a4b;
  }
  
  .todo-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .todo-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .todo-list li button {
    background-color: #dc3545;
  }
  
  .todo-list li button:hover {
    background-color: #ba303e;
  }
  